/* footer.css */

.footer-container {
    background-color: #aaa9ec;
    padding: 20px;
    text-align: center;
    /* margin-top: 20px; */
    border-top: 1px solid #ccc; /* Add a border on top for separation */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    margin-bottom: 10px; /* Add some space below the text */
}

.footer-links {
    display: flex;
}

.footer-link {
    color: #1d5795;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-separator {
    margin: 0 10px; /* Add space around the separator */
    color: #777; /* Change the color of the separator */
}
