header styles
.header-container {
    background: #e9edeb;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px; /* Adjust the height of the logo */
    padding-left: 10px;
}

/* mobile responsive */
@media screen and (max-width: 600px) {
    .logo img {
        height: 20px; /* Smaller size for mobile devices */
        
    }
}



