/* login.css */



.login-container {
    max-width: 400px;
    margin: 50px auto 0 auto; /* Added space from the top */
    padding: 20px;
    border-radius: 8px;
    background-color: #e85151; /* Set the background color to a dark shade of black */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #555; /* Set the border color to a light shade of gray */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #222; /* Set the input background color to a darker shade */
    color: white; /* Set input text color to white */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: #f44336;
    margin-top: 10px;
    font-size: 14px;
}
